modules/testsuite/native-tests/src/test/resources/tools/xsd/complextypes/ComplexTypesOccurence.xsd

<schema targetNamespace='http://org.jboss.ws/types'
  xmlns='http://www.w3.org/2001/XMLSchema'
  xmlns:xsi='http://www.w3.org/2000/10/XMLSchema-instance'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:tns='http://org.jboss.ws/types'>

  <complexType name="President">
    <sequence>
      <element name="name" type="xsd:string"/>
      <element name="secretaries" type="xsd:string"  maxOccurs="unbounded" minOccurs="0"/>
      <element name="terms" type="xsd:int"  maxOccurs="2" minOccurs="1"/>
    </sequence>
  </complexType> 
</schema>