modules/testsuite/native-tests/src/test/resources/tools/xsd/complextypes/ComplexType_MixedContent.xsd

<schema targetNamespace='http://org.jboss.ws/types'
  xmlns='http://www.w3.org/2001/XMLSchema'
  xmlns:xsi='http://www.w3.org/2000/10/XMLSchema-instance'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:tns='http://org.jboss.ws/types'>
<xsd:complexType name="lettertype" mixed="true">
  <xsd:sequence>
    <xsd:element name="name" type="string"/>
    <xsd:element name="orderid" type="positiveInteger"/>
    <xsd:element name="shipdate" type="date"/>
  </xsd:sequence>
</xsd:complexType>
</schema>