modules/testsuite/native-tests/src/test/resources/jaxrpc/jbws423/WEB-INF/wsdl/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='TestService' targetNamespace='http://org.jboss.test.webservice/jbws423' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.test.webservice/jbws423/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.test.webservice/jbws423' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.test.webservice/jbws423/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.test.webservice/jbws423/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='ValueObj'>
    <sequence>
     <element name='s1' nillable='true' type='string'/>
     <element name='s2' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='ValueObj.Array'>
    <sequence>
     <element maxOccurs='unbounded' minOccurs='0' name='value' nillable='true' type='tns:ValueObj'/>
    </sequence>
   </complexType>
  </schema>
 </types>
 <message name='DemoEndpoint_getArray'/>
 <message name='DemoEndpoint_getArrayResponse'>
  <part name='result' type='ns1:ValueObj.Array'/>
 </message>
 <message name='DemoEndpoint_getEmptyArray'/>
 <message name='DemoEndpoint_getEmptyArrayResponse'>
  <part name='result' type='ns1:ValueObj.Array'/>
 </message>
 <message name='DemoEndpoint_getNullArray'/>
 <message name='DemoEndpoint_getNullArrayResponse'>
  <part name='result' type='ns1:ValueObj.Array'/>
 </message>
 <portType name='DemoEndpoint'>
  <operation name='getArray'>
   <input message='tns:DemoEndpoint_getArray'/>
   <output message='tns:DemoEndpoint_getArrayResponse'/>
  </operation>
  <operation name='getEmptyArray'>
   <input message='tns:DemoEndpoint_getEmptyArray'/>
   <output message='tns:DemoEndpoint_getEmptyArrayResponse'/>
  </operation>
  <operation name='getNullArray'>
   <input message='tns:DemoEndpoint_getNullArray'/>
   <output message='tns:DemoEndpoint_getNullArrayResponse'/>
  </operation>
 </portType>
 <binding name='DemoEndpointBinding' type='tns:DemoEndpoint'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getArray'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.test.webservice/jbws423' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.test.webservice/jbws423' use='literal'/>
   </output>
  </operation>
  <operation name='getEmptyArray'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.test.webservice/jbws423' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.test.webservice/jbws423' use='literal'/>
   </output>
  </operation>
  <operation name='getNullArray'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.test.webservice/jbws423' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.test.webservice/jbws423' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='TestService'>
  <port binding='tns:DemoEndpointBinding' name='DemoEndpointPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>