modules/testsuite/native-tests/src/test/resources/jaxws/samples/wssecuritypolicy/WEB-INF/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='HelloService' targetNamespace='http://org.jboss.ws/samples/wssecuritypolicy' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.ws/samples/wssecurity' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.ws/samples/wssecuritypolicy' xmlns:wsp='http://schemas.xmlsoap.org/ws/2004/09/policy' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://org.jboss.ws/samples/wssecurity' version='1.0' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:complexType name='UserType'>
    <xs:sequence>
     <xs:element minOccurs='0' name='msg' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <wsp:Policy wsu:Id='X509EndpointPolicy' xmlns:wsu='http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd'>
  <wsp:All>
   <sp:jboss-ws-security xmlns:sp='http://www.jboss.com/ws-security/schema/jboss-ws-security_1_0.xsd'>
    <sp:key-store-file>WEB-INF/wsse.keystore</sp:key-store-file>
    <sp:key-store-password>jbossws</sp:key-store-password>
    <sp:trust-store-file>WEB-INF/wsse.truststore</sp:trust-store-file>
    <sp:trust-store-password>jbossws</sp:trust-store-password>
    <sp:config>
     <sp:encrypt alias='wsse' type='x509v3'/>
     <sp:requires>
      <sp:encryption/>
     </sp:requires>
    </sp:config>
   </sp:jboss-ws-security>
  </wsp:All>
 </wsp:Policy>
 <message name='Hello_echoUserType'>
  <part name='user' type='ns1:UserType'/>
 </message>
 <message name='Hello_echoUserTypeResponse'>
  <part name='return' type='ns1:UserType'/>
 </message>
 <portType name='Hello'>
  <operation name='echoUserType' parameterOrder='user'>
   <input message='tns:Hello_echoUserType'/>
   <output message='tns:Hello_echoUserTypeResponse'/>
  </operation>
 </portType>
 <binding name='HelloBinding' type='tns:Hello'>
  <wsp:PolicyReference URI='#X509EndpointPolicy'/>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echoUserType'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.ws/samples/wssecuritypolicy' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.ws/samples/wssecuritypolicy' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='HelloService'>
  <port binding='tns:HelloBinding' name='HelloPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>