modules/testsuite/native-tests/src/test/resources/jaxrpc/jbws456/WEB-INF/wsdl/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='TestService' targetNamespace='http://org.jboss.test.webservice/jbws456' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.test.webservice/jbws456/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.test.webservice/jbws456' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.test.webservice/jbws456/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.test.webservice/jbws456/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='JavaType'>
    <sequence>
     <element name='value' nillable='true' type='string'/>
    </sequence>
   </complexType>
  </schema>
 </types>
 <message name='TestSEI_doStuff'>
  <part name='JavaType_1' type='ns1:JavaType'/>
 </message>
 <message name='TestSEI_doStuffResponse'>
  <part name='result' type='ns1:JavaType'/>
 </message>
 <portType name='TestSEI'>
  <operation name='doStuff' parameterOrder='JavaType_1'>
   <input message='tns:TestSEI_doStuff'/>
   <output message='tns:TestSEI_doStuffResponse'/>
  </operation>
 </portType>
 <binding name='TestSEIBinding' type='tns:TestSEI'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='doStuff'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.test.webservice/jbws456' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.test.webservice/jbws456' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='TestService'>
  <port binding='tns:TestSEIBinding' name='TestSEIPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>
