modules/testsuite/native-tests/src/test/resources/tools/jbws-211/wsdlFixture/CustomHolders/CustomHoldersService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="CustomHoldersService"
	targetNamespace="http://org.jboss.ws" xmlns:tns="http://org.jboss.ws"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns2="http://org.jboss.ws/types"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<schema targetNamespace="http://org.jboss.ws/types"
			xmlns:tns="http://org.jboss.ws/types"
			xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="CustomObject">
				<sequence>
					<element name="name" type="string" nillable="true" />
				</sequence>
			</complexType>
		</schema>
	</types>
	<message name="CustomHoldersSEI_customHolderOperation">
		<part name="CustomObject_1" type="ns2:CustomObject" />
	</message>
	<message name="CustomHoldersSEI_customHolderOperationResponse">
		<part name="CustomObject_1" type="ns2:CustomObject" />
	</message>
	<portType name="CustomHoldersSEI">
		<operation name="customHolderOperation"
			parameterOrder="CustomObject_1">
			<input message="tns:CustomHoldersSEI_customHolderOperation" />
			<output
				message="tns:CustomHoldersSEI_customHolderOperationResponse" />
		</operation>
	</portType>
	<binding name="CustomHoldersSEIBinding"
		type="tns:CustomHoldersSEI">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc" />
		<operation name="customHolderOperation">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://org.jboss.ws" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://org.jboss.ws" />
			</output>
		</operation>
	</binding>
	<service name="CustomHoldersService">
		<port name="CustomHoldersSEIPort"
			binding="tns:CustomHoldersSEIBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>
</definitions>
