modules/testsuite/native-tests/src/test/resources/tools/wsdlfixture/arrays/ArrayInterfaceService_RPC_11.wsdl

<definitions name='ArrayInterfaceService' targetNamespace='http://org.jboss.ws' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.ws' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.ws' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.ws' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>

    <complexType name='Base'>

      <sequence>

        <element name='a' type='int'/>

        <element name='b' type='int'/>

      </sequence>

    </complexType>

    <complexType name='Integer.Array'>

      <sequence>

        <element maxOccurs='unbounded' minOccurs='0' name='value' nillable='true' type='int'/>

      </sequence>

    </complexType>

    <complexType name='SomeException'>

      <sequence/>

    </complexType>

    <element name='SomeException' type='tns:SomeException'/>

  </schema>

 </types>
 <message name='ArrayInterface_customMethod'>
  <part name='Base_1' type='tns:Base'/>
  <part name='arrayOfInteger_2' type='tns:Integer.Array'/>
 </message>
 <message name='ArrayInterface_customMethodResponse'/>
 <message name='SomeException'>
  <part element='tns:SomeException' name='SomeException'/>
 </message>
 <portType name='ArrayInterface'>
  <operation name='customMethod' parameterOrder='Base_1 arrayOfInteger_2'>
   <input message='tns:ArrayInterface_customMethod'/>
   <output message='tns:ArrayInterface_customMethodResponse'/>
   <fault message='tns:SomeException' name='SomeException'/>
  </operation>
 </portType>
 <binding name='ArrayInterfaceBinding' type='tns:ArrayInterface'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='customMethod'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.ws' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.ws' use='literal'/>
   </output>
   <fault name='SomeException'>
    <soap:fault name='SomeException' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='ArrayInterfaceService'>
  <port binding='tns:ArrayInterfaceBinding' name='ArrayInterfacePort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>