modules/testsuite/native-tests/src/test/resources/tools/wsdlfixture/arrays/MarshallService_RPC_11.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="MarshallService" targetNamespace="http://org.jboss.ws/marshall/rpclit" xmlns:tns="http://org.jboss.ws/marshall/rpclit" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://org.jboss.ws/marshall/rpclit/types/arrays/org/jboss/test/ws/marshall/rpclit/types" xmlns:ns3="http://org.jboss.ws/marshall/rpclit/types" xmlns:ns4="http://org.jboss.ws/marshall/rpclit/types/arrays/javax/xml/namespace" xmlns:ns5="http://org.jboss.ws/marshall/rpclit/types/arrays/java/lang" xmlns:ns6="http://org.jboss.ws/marshall/rpclit/types/arrays/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns7="http://org.jboss.ws/marshall/rpclit/types/arrays/java/util" xmlns:ns8="http://org.jboss.ws/marshall/rpclit/types/arrays/java/math" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://org.jboss.ws/marshall/rpclit/types/arrays/org/jboss/test/ws/marshall/rpclit/types" xmlns:tns="http://org.jboss.ws/marshall/rpclit/types/arrays/org/jboss/test/ws/marshall/rpclit/types" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://org.jboss.ws/marshall/rpclit/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/math"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/util"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/lang"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/javax/xml/namespace"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types"/>
      <complexType name="JavaBeanArray">
        <sequence>
          <element name="value" type="ns2:JavaBean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
    </schema>
    <schema targetNamespace="http://org.jboss.ws/marshall/rpclit/types" xmlns:tns="http://org.jboss.ws/marshall/rpclit/types" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/math"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/util"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/lang"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/javax/xml/namespace"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/org/jboss/test/ws/marshall/rpclit/types"/>
      <complexType name="JavaBean">
        <sequence>
          <element name="myBigDecimal" type="decimal" nillable="true"/>
          <element name="myBigInteger" type="integer" nillable="true"/>
          <element name="myBoolean" type="boolean"/>
          <element name="myByte" type="byte"/>
          <element name="myCalendar" type="dateTime" nillable="true"/>
          <element name="myDouble" type="double"/>
          <element name="myFloat" type="float"/>
          <element name="myInt" type="int"/>
          <element name="myJavaBean" type="tns:JavaBean2" nillable="true"/>
          <element name="myLong" type="long"/>
          <element name="myShort" type="short"/>
          <element name="myString" type="string" nillable="true"/>
        </sequence>
      </complexType>
      <complexType name="JavaBean2">
        <sequence>
          <element name="myBigDecimal" type="decimal" nillable="true"/>
          <element name="myBigInteger" type="integer" nillable="true"/>
          <element name="myBoolean" type="boolean"/>
          <element name="myByte" type="byte"/>
          <element name="myCalendar" type="dateTime" nillable="true"/>
          <element name="myDouble" type="double"/>
          <element name="myFloat" type="float"/>
          <element name="myInt" type="int"/>
          <element name="myLong" type="long"/>
          <element name="myShort" type="short"/>
          <element name="myString" type="string" nillable="true"/>
        </sequence>
      </complexType>
    </schema>
    <schema targetNamespace="http://org.jboss.ws/marshall/rpclit/types/arrays/javax/xml/namespace" xmlns:tns="http://org.jboss.ws/marshall/rpclit/types/arrays/javax/xml/namespace" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/math"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/util"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/lang"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/org/jboss/test/ws/marshall/rpclit/types"/>
      <complexType name="QNameArray">
        <sequence>
          <element name="value" type="QName" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
    </schema>
    <schema targetNamespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/lang" xmlns:tns="http://org.jboss.ws/marshall/rpclit/types/arrays/java/lang" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/math"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/util"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/javax/xml/namespace"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/org/jboss/test/ws/marshall/rpclit/types"/>
      <complexType name="BooleanArray">
        <sequence>
          <element name="value" type="boolean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="ByteArray">
        <sequence>
          <element name="value" type="byte" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="DoubleArray">
        <sequence>
          <element name="value" type="double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="FloatArray">
        <sequence>
          <element name="value" type="float" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="IntegerArray">
        <sequence>
          <element name="value" type="int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="LongArray">
        <sequence>
          <element name="value" type="long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="ShortArray">
        <sequence>
          <element name="value" type="short" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="StringArray">
        <sequence>
          <element name="value" type="string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
    </schema>
    <schema targetNamespace="http://org.jboss.ws/marshall/rpclit/types/arrays/" xmlns:tns="http://org.jboss.ws/marshall/rpclit/types/arrays/" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/math"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/util"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/lang"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/javax/xml/namespace"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/org/jboss/test/ws/marshall/rpclit/types"/>
      <complexType name="booleanArray">
        <sequence>
          <element name="value" type="boolean" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="doubleArray">
        <sequence>
          <element name="value" type="double" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="floatArray">
        <sequence>
          <element name="value" type="float" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="intArray">
        <sequence>
          <element name="value" type="int" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="longArray">
        <sequence>
          <element name="value" type="long" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="shortArray">
        <sequence>
          <element name="value" type="short" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
    </schema>
    <schema targetNamespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/util" xmlns:tns="http://org.jboss.ws/marshall/rpclit/types/arrays/java/util" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/math"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/lang"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/javax/xml/namespace"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/org/jboss/test/ws/marshall/rpclit/types"/>
      <complexType name="CalendarArray">
        <sequence>
          <element name="value" type="dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
    </schema>
    <schema targetNamespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/math" xmlns:tns="http://org.jboss.ws/marshall/rpclit/types/arrays/java/math" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/util"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/java/lang"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/javax/xml/namespace"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types"/>
      <import namespace="http://org.jboss.ws/marshall/rpclit/types/arrays/org/jboss/test/ws/marshall/rpclit/types"/>
      <complexType name="BigDecimalArray">
        <sequence>
          <element name="value" type="decimal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="BigIntegerArray">
        <sequence>
          <element name="value" type="integer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
    </schema>
  </types>
  <message name="StandardTypes_base64BinaryTest">
    <part name="arrayOfbyte_1" type="xsd:base64Binary"/>
  </message>
  <message name="StandardTypes_base64BinaryTestResponse">
    <part name="result" type="xsd:base64Binary"/>
  </message>
  <message name="StandardTypes_bigDecimalArrayTest">
    <part name="arrayOfBigDecimal_1" type="ns8:BigDecimalArray"/>
  </message>
  <message name="StandardTypes_bigDecimalArrayTestResponse">
    <part name="result" type="ns8:BigDecimalArray"/>
  </message>
  <message name="StandardTypes_bigDecimalTest">
    <part name="BigDecimal_1" type="xsd:decimal"/>
  </message>
  <message name="StandardTypes_bigDecimalTestResponse">
    <part name="result" type="xsd:decimal"/>
  </message>
  <message name="StandardTypes_bigIntegerArrayTest">
    <part name="arrayOfBigInteger_1" type="ns8:BigIntegerArray"/>
  </message>
  <message name="StandardTypes_bigIntegerArrayTestResponse">
    <part name="result" type="ns8:BigIntegerArray"/>
  </message>
  <message name="StandardTypes_bigIntegerTest">
    <part name="BigInteger_1" type="xsd:integer"/>
  </message>
  <message name="StandardTypes_bigIntegerTestResponse">
    <part name="result" type="xsd:integer"/>
  </message>
  <message name="StandardTypes_booleanArrayTest">
    <part name="arrayOfboolean_1" type="ns6:booleanArray"/>
  </message>
  <message name="StandardTypes_booleanArrayTestResponse">
    <part name="result" type="ns6:booleanArray"/>
  </message>
  <message name="StandardTypes_booleanTest">
    <part name="boolean_1" type="xsd:boolean"/>
  </message>
  <message name="StandardTypes_booleanTestResponse">
    <part name="result" type="xsd:boolean"/>
  </message>
  <message name="StandardTypes_booleanWrapperArrayTest">
    <part name="arrayOfBoolean_1" type="ns5:BooleanArray"/>
  </message>
  <message name="StandardTypes_booleanWrapperArrayTestResponse">
    <part name="result" type="ns5:BooleanArray"/>
  </message>
  <message name="StandardTypes_booleanWrapperTest">
    <part name="Boolean_1" type="xsd:boolean"/>
  </message>
  <message name="StandardTypes_booleanWrapperTestResponse">
    <part name="result" type="xsd:boolean"/>
  </message>
  <message name="StandardTypes_byteArrayTest">
    <part name="arrayOfbyte_1" type="xsd:base64Binary"/>
  </message>
  <message name="StandardTypes_byteArrayTestResponse">
    <part name="result" type="xsd:base64Binary"/>
  </message>
  <message name="StandardTypes_byteTest">
    <part name="byte_1" type="xsd:byte"/>
  </message>
  <message name="StandardTypes_byteTestResponse">
    <part name="result" type="xsd:byte"/>
  </message>
  <message name="StandardTypes_byteWrapperArrayTest">
    <part name="arrayOfByte_1" type="ns5:ByteArray"/>
  </message>
  <message name="StandardTypes_byteWrapperArrayTestResponse">
    <part name="result" type="ns5:ByteArray"/>
  </message>
  <message name="StandardTypes_byteWrapperTest">
    <part name="Byte_1" type="xsd:byte"/>
  </message>
  <message name="StandardTypes_byteWrapperTestResponse">
    <part name="result" type="xsd:byte"/>
  </message>
  <message name="StandardTypes_calendarArrayTest">
    <part name="arrayOfCalendar_1" type="ns7:CalendarArray"/>
  </message>
  <message name="StandardTypes_calendarArrayTestResponse">
    <part name="result" type="ns7:CalendarArray"/>
  </message>
  <message name="StandardTypes_calendarTest">
    <part name="Calendar_1" type="xsd:dateTime"/>
  </message>
  <message name="StandardTypes_calendarTestResponse">
    <part name="result" type="xsd:dateTime"/>
  </message>
  <message name="StandardTypes_doubleArrayTest">
    <part name="arrayOfdouble_1" type="ns6:doubleArray"/>
  </message>
  <message name="StandardTypes_doubleArrayTestResponse">
    <part name="result" type="ns6:doubleArray"/>
  </message>
  <message name="StandardTypes_doubleTest">
    <part name="double_1" type="xsd:double"/>
  </message>
  <message name="StandardTypes_doubleTestResponse">
    <part name="result" type="xsd:double"/>
  </message>
  <message name="StandardTypes_doubleWrapperArrayTest">
    <part name="arrayOfDouble_1" type="ns5:DoubleArray"/>
  </message>
  <message name="StandardTypes_doubleWrapperArrayTestResponse">
    <part name="result" type="ns5:DoubleArray"/>
  </message>
  <message name="StandardTypes_doubleWrapperTest">
    <part name="Double_1" type="xsd:double"/>
  </message>
  <message name="StandardTypes_doubleWrapperTestResponse">
    <part name="result" type="xsd:double"/>
  </message>
  <message name="StandardTypes_floatArrayTest">
    <part name="arrayOffloat_1" type="ns6:floatArray"/>
  </message>
  <message name="StandardTypes_floatArrayTestResponse">
    <part name="result" type="ns6:floatArray"/>
  </message>
  <message name="StandardTypes_floatTest">
    <part name="float_1" type="xsd:float"/>
  </message>
  <message name="StandardTypes_floatTestResponse">
    <part name="result" type="xsd:float"/>
  </message>
  <message name="StandardTypes_floatWrapperArrayTest">
    <part name="arrayOfFloat_1" type="ns5:FloatArray"/>
  </message>
  <message name="StandardTypes_floatWrapperArrayTestResponse">
    <part name="result" type="ns5:FloatArray"/>
  </message>
  <message name="StandardTypes_floatWrapperTest">
    <part name="Float_1" type="xsd:float"/>
  </message>
  <message name="StandardTypes_floatWrapperTestResponse">
    <part name="result" type="xsd:float"/>
  </message>
  <message name="StandardTypes_hexBinaryTest">
    <part name="arrayOfbyte_1" type="xsd:hexBinary"/>
  </message>
  <message name="StandardTypes_hexBinaryTestResponse">
    <part name="result" type="xsd:hexBinary"/>
  </message>
  <message name="StandardTypes_intArrayTest">
    <part name="arrayOfint_1" type="ns6:intArray"/>
  </message>
  <message name="StandardTypes_intArrayTestResponse">
    <part name="result" type="ns6:intArray"/>
  </message>
  <message name="StandardTypes_intTest">
    <part name="int_1" type="xsd:int"/>
  </message>
  <message name="StandardTypes_intTestResponse">
    <part name="result" type="xsd:int"/>
  </message>
  <message name="StandardTypes_intWrapperArrayTest">
    <part name="arrayOfInteger_1" type="ns5:IntegerArray"/>
  </message>
  <message name="StandardTypes_intWrapperArrayTestResponse">
    <part name="result" type="ns5:IntegerArray"/>
  </message>
  <message name="StandardTypes_intWrapperTest">
    <part name="Integer_1" type="xsd:int"/>
  </message>
  <message name="StandardTypes_intWrapperTestResponse">
    <part name="result" type="xsd:int"/>
  </message>
  <message name="StandardTypes_javaBeanArrayTest">
    <part name="arrayOfJavaBean_1" type="ns2:JavaBeanArray"/>
  </message>
  <message name="StandardTypes_javaBeanArrayTestResponse">
    <part name="result" type="ns2:JavaBeanArray"/>
  </message>
  <message name="StandardTypes_javaBeanTest">
    <part name="JavaBean_1" type="ns3:JavaBean"/>
  </message>
  <message name="StandardTypes_javaBeanTestResponse">
    <part name="result" type="ns3:JavaBean"/>
  </message>
  <message name="StandardTypes_longArrayTest">
    <part name="arrayOflong_1" type="ns6:longArray"/>
  </message>
  <message name="StandardTypes_longArrayTestResponse">
    <part name="result" type="ns6:longArray"/>
  </message>
  <message name="StandardTypes_longTest">
    <part name="long_1" type="xsd:long"/>
  </message>
  <message name="StandardTypes_longTestResponse">
    <part name="result" type="xsd:long"/>
  </message>
  <message name="StandardTypes_longWrapperArrayTest">
    <part name="arrayOfLong_1" type="ns5:LongArray"/>
  </message>
  <message name="StandardTypes_longWrapperArrayTestResponse">
    <part name="result" type="ns5:LongArray"/>
  </message>
  <message name="StandardTypes_longWrapperTest">
    <part name="Long_1" type="xsd:long"/>
  </message>
  <message name="StandardTypes_longWrapperTestResponse">
    <part name="result" type="xsd:long"/>
  </message>
  <message name="StandardTypes_qnameArrayTest">
    <part name="arrayOfQName_1" type="ns4:QNameArray"/>
  </message>
  <message name="StandardTypes_qnameArrayTestResponse">
    <part name="result" type="ns4:QNameArray"/>
  </message>
  <message name="StandardTypes_qnameTest">
    <part name="QName_1" type="xsd:QName"/>
  </message>
  <message name="StandardTypes_qnameTestResponse">
    <part name="result" type="xsd:QName"/>
  </message>
  <message name="StandardTypes_shortArrayTest">
    <part name="arrayOfshort_1" type="ns6:shortArray"/>
  </message>
  <message name="StandardTypes_shortArrayTestResponse">
    <part name="result" type="ns6:shortArray"/>
  </message>
  <message name="StandardTypes_shortTest">
    <part name="short_1" type="xsd:short"/>
  </message>
  <message name="StandardTypes_shortTestResponse">
    <part name="result" type="xsd:short"/>
  </message>
  <message name="StandardTypes_shortWrapperArrayTest">
    <part name="arrayOfShort_1" type="ns5:ShortArray"/>
  </message>
  <message name="StandardTypes_shortWrapperArrayTestResponse">
    <part name="result" type="ns5:ShortArray"/>
  </message>
  <message name="StandardTypes_shortWrapperTest">
    <part name="Short_1" type="xsd:short"/>
  </message>
  <message name="StandardTypes_shortWrapperTestResponse">
    <part name="result" type="xsd:short"/>
  </message>
  <message name="StandardTypes_stringArrayTest">
    <part name="arrayOfString_1" type="ns5:StringArray"/>
  </message>
  <message name="StandardTypes_stringArrayTestResponse">
    <part name="result" type="ns5:StringArray"/>
  </message>
  <message name="StandardTypes_stringTest">
    <part name="String_1" type="xsd:string"/>
  </message>
  <message name="StandardTypes_stringTestResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="StandardTypes_voidTest"/>
  <message name="StandardTypes_voidTestResponse"/>
  <portType name="StandardTypes">
    <operation name="base64BinaryTest" parameterOrder="arrayOfbyte_1">
      <input message="tns:StandardTypes_base64BinaryTest"/>
      <output message="tns:StandardTypes_base64BinaryTestResponse"/>
    </operation>
    <operation name="bigDecimalArrayTest" parameterOrder="arrayOfBigDecimal_1">
      <input message="tns:StandardTypes_bigDecimalArrayTest"/>
      <output message="tns:StandardTypes_bigDecimalArrayTestResponse"/>
    </operation>
    <operation name="bigDecimalTest" parameterOrder="BigDecimal_1">
      <input message="tns:StandardTypes_bigDecimalTest"/>
      <output message="tns:StandardTypes_bigDecimalTestResponse"/>
    </operation>
    <operation name="bigIntegerArrayTest" parameterOrder="arrayOfBigInteger_1">
      <input message="tns:StandardTypes_bigIntegerArrayTest"/>
      <output message="tns:StandardTypes_bigIntegerArrayTestResponse"/>
    </operation>
    <operation name="bigIntegerTest" parameterOrder="BigInteger_1">
      <input message="tns:StandardTypes_bigIntegerTest"/>
      <output message="tns:StandardTypes_bigIntegerTestResponse"/>
    </operation>
    <operation name="booleanArrayTest" parameterOrder="arrayOfboolean_1">
      <input message="tns:StandardTypes_booleanArrayTest"/>
      <output message="tns:StandardTypes_booleanArrayTestResponse"/>
    </operation>
    <operation name="booleanTest" parameterOrder="boolean_1">
      <input message="tns:StandardTypes_booleanTest"/>
      <output message="tns:StandardTypes_booleanTestResponse"/>
    </operation>
    <operation name="booleanWrapperArrayTest" parameterOrder="arrayOfBoolean_1">
      <input message="tns:StandardTypes_booleanWrapperArrayTest"/>
      <output message="tns:StandardTypes_booleanWrapperArrayTestResponse"/>
    </operation>
    <operation name="booleanWrapperTest" parameterOrder="Boolean_1">
      <input message="tns:StandardTypes_booleanWrapperTest"/>
      <output message="tns:StandardTypes_booleanWrapperTestResponse"/>
    </operation>
    <operation name="byteArrayTest" parameterOrder="arrayOfbyte_1">
      <input message="tns:StandardTypes_byteArrayTest"/>
      <output message="tns:StandardTypes_byteArrayTestResponse"/>
    </operation>
    <operation name="byteTest" parameterOrder="byte_1">
      <input message="tns:StandardTypes_byteTest"/>
      <output message="tns:StandardTypes_byteTestResponse"/>
    </operation>
    <operation name="byteWrapperArrayTest" parameterOrder="arrayOfByte_1">
      <input message="tns:StandardTypes_byteWrapperArrayTest"/>
      <output message="tns:StandardTypes_byteWrapperArrayTestResponse"/>
    </operation>
    <operation name="byteWrapperTest" parameterOrder="Byte_1">
      <input message="tns:StandardTypes_byteWrapperTest"/>
      <output message="tns:StandardTypes_byteWrapperTestResponse"/>
    </operation>
    <operation name="calendarArrayTest" parameterOrder="arrayOfCalendar_1">
      <input message="tns:StandardTypes_calendarArrayTest"/>
      <output message="tns:StandardTypes_calendarArrayTestResponse"/>
    </operation>
    <operation name="calendarTest" parameterOrder="Calendar_1">
      <input message="tns:StandardTypes_calendarTest"/>
      <output message="tns:StandardTypes_calendarTestResponse"/>
    </operation>
    <operation name="doubleArrayTest" parameterOrder="arrayOfdouble_1">
      <input message="tns:StandardTypes_doubleArrayTest"/>
      <output message="tns:StandardTypes_doubleArrayTestResponse"/>
    </operation>
    <operation name="doubleTest" parameterOrder="double_1">
      <input message="tns:StandardTypes_doubleTest"/>
      <output message="tns:StandardTypes_doubleTestResponse"/>
    </operation>
    <operation name="doubleWrapperArrayTest" parameterOrder="arrayOfDouble_1">
      <input message="tns:StandardTypes_doubleWrapperArrayTest"/>
      <output message="tns:StandardTypes_doubleWrapperArrayTestResponse"/>
    </operation>
    <operation name="doubleWrapperTest" parameterOrder="Double_1">
      <input message="tns:StandardTypes_doubleWrapperTest"/>
      <output message="tns:StandardTypes_doubleWrapperTestResponse"/>
    </operation>
    <operation name="floatArrayTest" parameterOrder="arrayOffloat_1">
      <input message="tns:StandardTypes_floatArrayTest"/>
      <output message="tns:StandardTypes_floatArrayTestResponse"/>
    </operation>
    <operation name="floatTest" parameterOrder="float_1">
      <input message="tns:StandardTypes_floatTest"/>
      <output message="tns:StandardTypes_floatTestResponse"/>
    </operation>
    <operation name="floatWrapperArrayTest" parameterOrder="arrayOfFloat_1">
      <input message="tns:StandardTypes_floatWrapperArrayTest"/>
      <output message="tns:StandardTypes_floatWrapperArrayTestResponse"/>
    </operation>
    <operation name="floatWrapperTest" parameterOrder="Float_1">
      <input message="tns:StandardTypes_floatWrapperTest"/>
      <output message="tns:StandardTypes_floatWrapperTestResponse"/>
    </operation>
    <operation name="hexBinaryTest" parameterOrder="arrayOfbyte_1">
      <input message="tns:StandardTypes_hexBinaryTest"/>
      <output message="tns:StandardTypes_hexBinaryTestResponse"/>
    </operation>
    <operation name="intArrayTest" parameterOrder="arrayOfint_1">
      <input message="tns:StandardTypes_intArrayTest"/>
      <output message="tns:StandardTypes_intArrayTestResponse"/>
    </operation>
    <operation name="intTest" parameterOrder="int_1">
      <input message="tns:StandardTypes_intTest"/>
      <output message="tns:StandardTypes_intTestResponse"/>
    </operation>
    <operation name="intWrapperArrayTest" parameterOrder="arrayOfInteger_1">
      <input message="tns:StandardTypes_intWrapperArrayTest"/>
      <output message="tns:StandardTypes_intWrapperArrayTestResponse"/>
    </operation>
    <operation name="intWrapperTest" parameterOrder="Integer_1">
      <input message="tns:StandardTypes_intWrapperTest"/>
      <output message="tns:StandardTypes_intWrapperTestResponse"/>
    </operation>
    <operation name="javaBeanArrayTest" parameterOrder="arrayOfJavaBean_1">
      <input message="tns:StandardTypes_javaBeanArrayTest"/>
      <output message="tns:StandardTypes_javaBeanArrayTestResponse"/>
    </operation>
    <operation name="javaBeanTest" parameterOrder="JavaBean_1">
      <input message="tns:StandardTypes_javaBeanTest"/>
      <output message="tns:StandardTypes_javaBeanTestResponse"/>
    </operation>
    <operation name="longArrayTest" parameterOrder="arrayOflong_1">
      <input message="tns:StandardTypes_longArrayTest"/>
      <output message="tns:StandardTypes_longArrayTestResponse"/>
    </operation>
    <operation name="longTest" parameterOrder="long_1">
      <input message="tns:StandardTypes_longTest"/>
      <output message="tns:StandardTypes_longTestResponse"/>
    </operation>
    <operation name="longWrapperArrayTest" parameterOrder="arrayOfLong_1">
      <input message="tns:StandardTypes_longWrapperArrayTest"/>
      <output message="tns:StandardTypes_longWrapperArrayTestResponse"/>
    </operation>
    <operation name="longWrapperTest" parameterOrder="Long_1">
      <input message="tns:StandardTypes_longWrapperTest"/>
      <output message="tns:StandardTypes_longWrapperTestResponse"/>
    </operation>
    <operation name="qnameArrayTest" parameterOrder="arrayOfQName_1">
      <input message="tns:StandardTypes_qnameArrayTest"/>
      <output message="tns:StandardTypes_qnameArrayTestResponse"/>
    </operation>
    <operation name="qnameTest" parameterOrder="QName_1">
      <input message="tns:StandardTypes_qnameTest"/>
      <output message="tns:StandardTypes_qnameTestResponse"/>
    </operation>
    <operation name="shortArrayTest" parameterOrder="arrayOfshort_1">
      <input message="tns:StandardTypes_shortArrayTest"/>
      <output message="tns:StandardTypes_shortArrayTestResponse"/>
    </operation>
    <operation name="shortTest" parameterOrder="short_1">
      <input message="tns:StandardTypes_shortTest"/>
      <output message="tns:StandardTypes_shortTestResponse"/>
    </operation>
    <operation name="shortWrapperArrayTest" parameterOrder="arrayOfShort_1">
      <input message="tns:StandardTypes_shortWrapperArrayTest"/>
      <output message="tns:StandardTypes_shortWrapperArrayTestResponse"/>
    </operation>
    <operation name="shortWrapperTest" parameterOrder="Short_1">
      <input message="tns:StandardTypes_shortWrapperTest"/>
      <output message="tns:StandardTypes_shortWrapperTestResponse"/>
    </operation>
    <operation name="stringArrayTest" parameterOrder="arrayOfString_1">
      <input message="tns:StandardTypes_stringArrayTest"/>
      <output message="tns:StandardTypes_stringArrayTestResponse"/>
    </operation>
    <operation name="stringTest" parameterOrder="String_1">
      <input message="tns:StandardTypes_stringTest"/>
      <output message="tns:StandardTypes_stringTestResponse"/>
    </operation>
    <operation name="voidTest">
      <input message="tns:StandardTypes_voidTest"/>
      <output message="tns:StandardTypes_voidTestResponse"/>
    </operation>
  </portType>
  <binding name="StandardTypesBinding" type="tns:StandardTypes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="base64BinaryTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="bigDecimalArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="bigDecimalTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="bigIntegerArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="bigIntegerTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="booleanArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="booleanTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="booleanWrapperArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="booleanWrapperTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="byteArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="byteTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="byteWrapperArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="byteWrapperTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="calendarArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="calendarTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="doubleArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="doubleTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="doubleWrapperArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="doubleWrapperTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="floatArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="floatTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="floatWrapperArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="floatWrapperTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="hexBinaryTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="intArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="intTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="intWrapperArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="intWrapperTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="javaBeanArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="javaBeanTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="longArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="longTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="longWrapperArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="longWrapperTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="qnameArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="qnameTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="shortArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="shortTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="shortWrapperArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="shortWrapperTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="stringArrayTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="stringTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
    <operation name="voidTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/marshall/rpclit"/>
      </output>
    </operation>
  </binding>
  <service name="MarshallService">
    <port name="StandardTypesPort" binding="tns:StandardTypesBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
