modules/testsuite/native-tests/src/test/resources/tools/wsdl11/TestServiceXsdInclude.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="TestService" targetNamespace="http://org.jboss.ws/jaxrpc" xmlns:tns="http://org.jboss.ws/jaxrpc" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://org.jboss.ws/jaxrpc/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://org.jboss.ws/jaxrpc/types" xmlns:tns="http://org.jboss.ws/jaxrpc/types" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="SimpleUserType">
        <sequence>
          <element name="a" type="int"/>
          <element name="b" type="int"/>
        </sequence>
      </complexType>
    </schema>
  </types>
  <message name="JaxRpcTestService_echoSimpleUserType">
    <part name="SimpleUserType_1" type="ns2:SimpleUserType"/>
  </message>
  <message name="JaxRpcTestService_echoSimpleUserTypeResponse">
    <part name="result" type="ns2:SimpleUserType"/>
  </message>
  <message name="JaxRpcTestService_echoString">
    <part name="String_1" type="xsd:string"/>
  </message>
  <message name="JaxRpcTestService_echoStringResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <portType name="JaxRpcTestService">
    <operation name="echoSimpleUserType" parameterOrder="SimpleUserType_1">
      <input message="tns:JaxRpcTestService_echoSimpleUserType"/>
      <output message="tns:JaxRpcTestService_echoSimpleUserTypeResponse"/>
    </operation>
    <operation name="echoString" parameterOrder="String_1">
      <input message="tns:JaxRpcTestService_echoString"/>
      <output message="tns:JaxRpcTestService_echoStringResponse"/>
    </operation>
  </portType>
  <binding name="JaxRpcTestServiceBinding" type="tns:JaxRpcTestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="echoSimpleUserType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/jaxrpc"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/jaxrpc"/>
      </output>
    </operation>
    <operation name="echoString">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/jaxrpc"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/jaxrpc"/>
      </output>
    </operation>
  </binding>
  <service name="TestService">
    <port name="JaxRpcTestServicePort" binding="tns:JaxRpcTestServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
