modules/testsuite/native-tests/src/test/resources/jaxrpc/jbws1205/SimpleEndpoint/WEB-INF/wsdl/SimpleService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='SimpleService' targetNamespace='http://org.jboss.test.ws/jbws1205' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.test.ws/jbws1205/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.test.ws/jbws1205' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.test.ws/jbws1205/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.test.ws/jbws1205/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='echo'>
    <sequence>
     <element name='String_1' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='echoResponse'>
    <sequence>
     <element name='result' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <element name='echo' type='tns:echo'/>
   <element name='echoResponse' type='tns:echoResponse'/>
  </schema>
 </types>
 <message name='SimpleEndpoint_echo'>
  <part element='ns1:echo' name='parameters'/>
 </message>
 <message name='SimpleEndpoint_echoResponse'>
  <part element='ns1:echoResponse' name='result'/>
 </message>
 <portType name='SimpleEndpoint'>
  <operation name='echo'>
   <input message='tns:SimpleEndpoint_echo'/>
   <output message='tns:SimpleEndpoint_echoResponse'/>
  </operation>
 </portType>
 <binding name='SimpleEndpointBinding' type='tns:SimpleEndpoint'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echo'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='SimpleService'>
  <port binding='tns:SimpleEndpointBinding' name='SimpleEndpointPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>