modules/testsuite/native-tests/src/test/resources/tools/jbws-204/wscompile/nillable.xsd

<!--  Generated by wscompile tool -->
<schema targetNamespace="http://org.jboss.ws"
	xmlns:tns="http://org.jboss.ws"
	xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.w3.org/2001/XMLSchema">
	<complexType name="NillableType">
		<sequence>
			<element name="myBool" type="boolean" nillable="true" />
			<element name="myBool2" type="boolean" />
			<element name="myByte" type="byte" nillable="true" />
			<element name="myByte2" type="byte" />
			<element name="myDouble" type="double" nillable="true" />
			<element name="myDouble2" type="double" />
			<element name="myFloat" type="float" nillable="true" />
			<element name="myFloat2" type="float" />
			<element name="myInt" type="int" nillable="true" />
			<element name="myInt2" type="int" />
			<element name="myLong" type="long" nillable="true" />
			<element name="myLong2" type="long" />
			<element name="myShort" type="short" nillable="true" />
			<element name="myShort2" type="short" />
		</sequence>
	</complexType>
</schema>