modules/testsuite/native-tests/src/test/resources/jaxrpc/jbws707/WEB-INF/wsdl/EchoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='EchoService' targetNamespace='http://org.jboss.test.webservice/jbws707' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.test.webservice/jbws707/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.test.webservice/jbws707' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.test.webservice/jbws707/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.test.webservice/jbws707/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='UserType'>
    <sequence>
     <element name='value' nillable='true' type='string'/>
    </sequence>
   </complexType>
  </schema>
 </types>
 <message name='TestEndpoint_echo'>
  <part name='UserType_1' type='ns1:UserType'/>
 </message>
 <message name='TestEndpoint_echoResponse'>
  <part name='result' type='ns1:UserType'/>
 </message>
 <message name='TestEndpoint_echo2'>
  <part name='String_1' type='xsd:string'/>
 </message>
 <message name='TestEndpoint_echo2Response'>
  <part name='result' type='xsd:string'/>
 </message>
 <portType name='TestEndpoint'>
  <operation name='echo' parameterOrder='UserType_1'>
   <input message='tns:TestEndpoint_echo'/>
   <output message='tns:TestEndpoint_echoResponse'/>
  </operation>
  <operation name='echo2' parameterOrder='String_1'>
   <input message='tns:TestEndpoint_echo2'/>
   <output message='tns:TestEndpoint_echo2Response'/>
  </operation>
 </portType>
 <binding name='TestEndpointBinding' type='tns:TestEndpoint'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echo'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.test.webservice/jbws707' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.test.webservice/jbws707' use='literal'/>
   </output>
  </operation>
  <operation name='echo2'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.test.webservice/jbws707' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.test.webservice/jbws707' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='EchoService'>
  <port binding='tns:TestEndpointBinding' name='TestEndpointPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>