modules/testsuite/native-tests/src/test/resources/jaxrpc/jbws1647/doclit/WEB-INF/wsdl/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='TestService' targetNamespace='http://org.jboss.test.ws/jbws1647' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.test.ws/jbws1647/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.test.ws/jbws1647' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.test.ws/jbws1647/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.test.ws/jbws1647/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='echoMessage'>
    <sequence>
     <element name='String_1' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='echoMessageResponse'>
    <sequence>
     <element name='result' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <element name='echoMessage' type='tns:echoMessage'/>
   <element name='echoMessageResponse' type='tns:echoMessageResponse'/>
  </schema>
 </types>
 <message name='TestEndpoint_echoMessage' xmlns='http://schemas.xmlsoap.org/wsdl/'>
  <part element='ns1:echoMessage' name='echoMessage'/>
 </message>
 <message name='TestEndpoint_echoMessageResponse'>
  <part element='ns1:echoMessageResponse' name='echoMessageResponse'/>
 </message>
 <portType name='TestEndpoint'>
  <operation name='echoMessage' parameterOrder='echoMessage'>
   <input message='tns:TestEndpoint_echoMessage'/>
   <output message='tns:TestEndpoint_echoMessageResponse'/>
  </operation>
 </portType>
 <binding name='TestEndpointBinding' type='tns:TestEndpoint'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echoMessage'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='TestService'>
  <port binding='tns:TestEndpointBinding' name='TestEndpointPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>