modules/testsuite/native-tests/src/test/resources/tools/jbws1428/ValueObjectService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='ValueObjectService' targetNamespace='http://org.jboss.test.ws/jbws1428' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.test.ws/jbws1428/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.test.ws/jbws1428' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.test.ws/jbws1428/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.test.ws/jbws1428/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='echo'>
    <sequence>
     <element name='ValueObject_1' nillable='true' type='tns:ValueObject'/>
    </sequence>
   </complexType>
   <complexType name='echoResponse'>
    <sequence>
     <element name='result' nillable='true' type='tns:ValueObject'/>
    </sequence>
   </complexType>
   <complexType name='ValueObject'>
    <sequence>
     <element name='myMessage' nillable='true' type='string'/>
     <element maxOccurs='unbounded' minOccurs='0' name='myValues' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <element name='echo' type='tns:echo'/>
   <element name='echoResponse' type='tns:echoResponse'/>
  </schema>
 </types>
 <message name='ValueObjectSEI_echo'>
  <part element='ns1:echo' name='parameters'/>
 </message>
 <message name='ValueObjectSEI_echoResponse'>
  <part element='ns1:echoResponse' name='result'/>
 </message>
 <portType name='ValueObjectSEI'>
  <operation name='echo'>
   <input message='tns:ValueObjectSEI_echo'/>
   <output message='tns:ValueObjectSEI_echoResponse'/>
  </operation>
 </portType>
 <binding name='ValueObjectSEIBinding' type='tns:ValueObjectSEI'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echo'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='ValueObjectService'>
  <port binding='tns:ValueObjectSEIBinding' name='ValueObjectSEIPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>