modules/testsuite/native-tests/src/test/resources/common/wsdl11/microsoft-interop/rpclit/BaseTypesRpcLit.wsdl

 <wsdl:definitions name="BaseDataTypesRpcLitService" 
    targetNamespace="http://tempuri.org/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:tns="http://tempuri.org/" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" 
    xmlns:ci="http://schemas.microsoft.com/ws/2005/01/WSDL/Extensions/ContractInheritance" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" 
    xmlns:wsu="http://docs.oasisopen.org/wss/2004/01/oasis200401wsswssecurityutility1.0.xsd" 
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"> 
 <wsp:Policy wsu:Id="BasicHttpBinding_IBaseDataTypesRpcLit_policy"> 
 <wsp:ExactlyOne> 
 <wsp:All> 
<wspe:Utf816FFFECharacterEncoding xmlns:wspe="http://schemas.xmlsoap.org/ws/2004/09/policy/encoding" /> 
</wsp:All> 
</wsp:ExactlyOne> 
</wsp:Policy> 
<wsp:UsingPolicy /> 
 <wsdl:types> 
 <xsd:schema targetNamespace="http://tempuri.org/Imports"> 
<xsd:import namespace="http://www.w3.org/2001/XMLSchema" /> 
<xsd:import schemaLocation="./BaseTypesRpcLit.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" /> 
</xsd:schema> 
</wsdl:types> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetBool_InputMessage"> 
<wsdl:part name="inBool" type="xsd:boolean" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetBool_OutputMessage"> 
<wsdl:part name="RetBoolResult" type="xsd:boolean" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetByte_InputMessage"> 
<wsdl:part name="inByte" type="xsd:unsignedByte" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetByte_OutputMessage"> 
<wsdl:part name="RetByteResult" type="xsd:unsignedByte" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetSByte_InputMessage"> 
<wsdl:part name="inSByte" type="xsd:byte" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetSByte_OutputMessage"> 
<wsdl:part name="RetSByteResult" type="xsd:byte" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetByteArray_InputMessage"> 
<wsdl:part name="inByteArray" type="xsd:base64Binary" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetByteArray_OutputMessage"> 
<wsdl:part name="RetByteArrayResult" type="xsd:base64Binary" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetChar_InputMessage"> 
<wsdl:part name="inChar" type="q1:char" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetChar_OutputMessage"> 
<wsdl:part name="RetCharResult" type="q2:char" xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetDecimal_InputMessage"> 
<wsdl:part name="inDecimal" type="xsd:decimal" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetDecimal_OutputMessage"> 
<wsdl:part name="RetDecimalResult" type="xsd:decimal" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetFloat_InputMessage"> 
<wsdl:part name="inFloat" type="xsd:float" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetFloat_OutputMessage"> 
<wsdl:part name="RetFloatResult" type="xsd:float" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetDouble_InputMessage"> 
<wsdl:part name="inDouble" type="xsd:double" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetDouble_OutputMessage"> 
<wsdl:part name="RetDoubleResult" type="xsd:double" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetSingle_InputMessage"> 
<wsdl:part name="inSingle" type="xsd:float" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetSingle_OutputMessage"> 
<wsdl:part name="RetSingleResult" type="xsd:float" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetInt_InputMessage"> 
<wsdl:part name="inInt" type="xsd:int" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetInt_OutputMessage"> 
<wsdl:part name="RetIntResult" type="xsd:int" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetShort_InputMessage"> 
<wsdl:part name="inShort" type="xsd:short" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetShort_OutputMessage"> 
<wsdl:part name="RetShortResult" type="xsd:short" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetLong_InputMessage"> 
<wsdl:part name="inLong" type="xsd:long" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetLong_OutputMessage"> 
<wsdl:part name="RetLongResult" type="xsd:long" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetObject_InputMessage"> 
<wsdl:part name="inObject" type="xsd:anyType" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetObject_OutputMessage"> 
<wsdl:part name="RetObjectResult" type="xsd:anyType" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetUInt_InputMessage"> 
<wsdl:part name="inUInt" type="xsd:unsignedInt" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetUInt_OutputMessage"> 
<wsdl:part name="RetUIntResult" type="xsd:unsignedInt" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetUShort_InputMessage"> 
<wsdl:part name="inUShort" type="xsd:unsignedShort" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetUShort_OutputMessage"> 
<wsdl:part name="RetUShortResult" type="xsd:unsignedShort" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetULong_InputMessage"> 
<wsdl:part name="inULong" type="xsd:unsignedLong" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetULong_OutputMessage"> 
<wsdl:part name="RetULongResult" type="xsd:unsignedLong" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetString_InputMessage"> 
<wsdl:part name="inString" type="xsd:string" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetString_OutputMessage"> 
<wsdl:part name="RetStringResult" type="xsd:string" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetGuid_InputMessage"> 
<wsdl:part name="inGuid" type="q3:guid" xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetGuid_OutputMessage"> 
<wsdl:part name="RetGuidResult" type="q4:guid" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetUri_InputMessage"> 
<wsdl:part name="inUri" type="xsd:anyURI" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetUri_OutputMessage"> 
<wsdl:part name="RetUriResult" type="xsd:anyURI" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetDateTime_InputMessage"> 
<wsdl:part name="inDateTime" type="xsd:dateTime" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetDateTime_OutputMessage"> 
<wsdl:part name="RetDateTimeResult" type="xsd:dateTime" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetTimeSpan_InputMessage"> 
<wsdl:part name="inTimeSpan" type="xsd:duration" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetTimeSpan_OutputMessage"> 
<wsdl:part name="RetTimeSpanResult" type="xsd:duration" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetQName_InputMessage"> 
<wsdl:part name="inQName" type="xsd:QName" /> 
</wsdl:message> 
 <wsdl:message name="IBaseDataTypesRpcLit_RetQName_OutputMessage"> 
<wsdl:part name="RetQNameResult" type="xsd:QName" /> 
</wsdl:message> 
 <wsdl:portType name="IBaseDataTypesRpcLit"> 
 <wsdl:operation name="RetBool"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetBool" message="tns:IBaseDataTypesRpcLit_RetBool_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetBoolResponse" message="tns:IBaseDataTypesRpcLit_RetBool_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetByte"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetByte" message="tns:IBaseDataTypesRpcLit_RetByte_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetByteResponse" message="tns:IBaseDataTypesRpcLit_RetByte_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetSByte"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetSByte" message="tns:IBaseDataTypesRpcLit_RetSByte_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetSByteResponse" message="tns:IBaseDataTypesRpcLit_RetSByte_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetByteArray"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetByteArray" message="tns:IBaseDataTypesRpcLit_RetByteArray_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetByteArrayResponse" message="tns:IBaseDataTypesRpcLit_RetByteArray_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetChar"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetChar" message="tns:IBaseDataTypesRpcLit_RetChar_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetCharResponse" message="tns:IBaseDataTypesRpcLit_RetChar_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetDecimal"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetDecimal" message="tns:IBaseDataTypesRpcLit_RetDecimal_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetDecimalResponse" message="tns:IBaseDataTypesRpcLit_RetDecimal_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetFloat"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetFloat" message="tns:IBaseDataTypesRpcLit_RetFloat_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetFloatResponse" message="tns:IBaseDataTypesRpcLit_RetFloat_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetDouble"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetDouble" message="tns:IBaseDataTypesRpcLit_RetDouble_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetDoubleResponse" message="tns:IBaseDataTypesRpcLit_RetDouble_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetSingle"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetSingle" message="tns:IBaseDataTypesRpcLit_RetSingle_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetSingleResponse" message="tns:IBaseDataTypesRpcLit_RetSingle_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetInt"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetInt" message="tns:IBaseDataTypesRpcLit_RetInt_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetIntResponse" message="tns:IBaseDataTypesRpcLit_RetInt_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetShort"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetShort" message="tns:IBaseDataTypesRpcLit_RetShort_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetShortResponse" message="tns:IBaseDataTypesRpcLit_RetShort_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetLong"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetLong" message="tns:IBaseDataTypesRpcLit_RetLong_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetLongResponse" message="tns:IBaseDataTypesRpcLit_RetLong_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetObject"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetObject" message="tns:IBaseDataTypesRpcLit_RetObject_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetObjectResponse" message="tns:IBaseDataTypesRpcLit_RetObject_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetUInt"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetUInt" message="tns:IBaseDataTypesRpcLit_RetUInt_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetUIntResponse" message="tns:IBaseDataTypesRpcLit_RetUInt_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetUShort"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetUShort" message="tns:IBaseDataTypesRpcLit_RetUShort_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetUShortResponse" message="tns:IBaseDataTypesRpcLit_RetUShort_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetULong"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetULong" message="tns:IBaseDataTypesRpcLit_RetULong_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetULongResponse" message="tns:IBaseDataTypesRpcLit_RetULong_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetString"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetString" message="tns:IBaseDataTypesRpcLit_RetString_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetStringResponse" message="tns:IBaseDataTypesRpcLit_RetString_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetGuid"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetGuid" message="tns:IBaseDataTypesRpcLit_RetGuid_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetGuidResponse" message="tns:IBaseDataTypesRpcLit_RetGuid_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetUri"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetUri" message="tns:IBaseDataTypesRpcLit_RetUri_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetUriResponse" message="tns:IBaseDataTypesRpcLit_RetUri_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetDateTime"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetDateTime" message="tns:IBaseDataTypesRpcLit_RetDateTime_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetDateTimeResponse" message="tns:IBaseDataTypesRpcLit_RetDateTime_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetTimeSpan"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetTimeSpan" message="tns:IBaseDataTypesRpcLit_RetTimeSpan_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetTimeSpanResponse" message="tns:IBaseDataTypesRpcLit_RetTimeSpan_OutputMessage" /> 
</wsdl:operation> 
 <wsdl:operation name="RetQName"> 
<wsdl:input wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetQName" message="tns:IBaseDataTypesRpcLit_RetQName_InputMessage" /> 
<wsdl:output wsa:Action="http://tempuri.org/IBaseDataTypesRpcLit/RetQNameResponse" message="tns:IBaseDataTypesRpcLit_RetQName_OutputMessage" /> 
</wsdl:operation> 
</wsdl:portType> 
 <wsdl:binding name="BasicHttpBinding_IBaseDataTypesRpcLit" type="tns:IBaseDataTypesRpcLit"> 
<wsp:PolicyReference URI="#BasicHttpBinding_IBaseDataTypesRpcLit_policy" /> 
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" /> 
 <wsdl:operation name="RetBool"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetBool" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetByte"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetByte" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetSByte"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetSByte" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetByteArray"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetByteArray" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetChar"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetChar" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetDecimal"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetDecimal" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetFloat"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetFloat" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetDouble"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetDouble" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetSingle"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetSingle" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetInt"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetInt" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetShort"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetShort" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetLong"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetLong" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetObject"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetObject" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetUInt"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetUInt" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetUShort"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetUShort" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetULong"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetULong" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetString"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetString" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetGuid"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetGuid" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetUri"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetUri" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetDateTime"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetDateTime" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetTimeSpan"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetTimeSpan" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
 <wsdl:operation name="RetQName"> 
<soap:operation soapAction="http://tempuri.org/IBaseDataTypesRpcLit/RetQName" style="rpc" /> 
 <wsdl:input> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:input> 
 <wsdl:output> 
<soap:body use="literal" namespace="http://tempuri.org/" /> 
</wsdl:output> 
</wsdl:operation> 
</wsdl:binding> 
 <wsdl:service name="BaseDataTypesRpcLitService"> 
 <wsdl:port name="BasicHttpBinding_IBaseDataTypesRpcLit_port" binding="tns:BasicHttpBinding_IBaseDataTypesRpcLit"> 
<soap:address location="http://xxxx/SoapWsdl_BaseDataTypes_XmlFormatter_Service_Indigo/BaseDataTypesRpcLit.svc" /> 
</wsdl:port> 
</wsdl:service> 
</wsdl:definitions>
