modules/testsuite/native-tests/src/test/resources/tools/jbws810/rpc/PhoneBook.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='PhoneBook' targetNamespace='http://test.jboss.org/ws/jbws810' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://test.jboss.org/ws/jbws810/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://test.jboss.org/ws/jbws810' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://test.jboss.org/ws/jbws810/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://test.jboss.org/ws/jbws810/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
  
   <simpleType name="Person">
    <restriction base="string">
     <maxLength value="20"/>
    </restriction>
   </simpleType>
   
   <simpleType name="TelephoneNumber">
    <restriction base="string">
     <maxLength value="20"/>
    </restriction>
   </simpleType>
   
  </schema>
 </types>
 <message name='PhoneBook_lookup'>
  <part name='Person_1' type='ns1:Person'/>
 </message>
 <message name='PhoneBook_lookupResponse'>
  <part name='result' type='ns1:TelephoneNumber'/>
 </message>
 <portType name='PhoneBook'>
  <operation name='lookup' parameterOrder='Person_1'>
   <input message='tns:PhoneBook_lookup'/>
   <output message='tns:PhoneBook_lookupResponse'/>
  </operation>
 </portType>
 <binding name='PhoneBookBinding' type='tns:PhoneBook'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='lookup'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://test.jboss.org/ws/jbws810' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://test.jboss.org/ws/jbws810' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='PhoneBook'>
  <port binding='tns:PhoneBookBinding' name='PhoneBookPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>