modules/testsuite/native-tests/src/test/resources/jaxrpc/jbws1205/TestEndpoint/WEB-INF/wsdl/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='TestService' targetNamespace='http://org.jboss.test.ws/jbws1205' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.test.ws/jbws1205/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.test.ws/jbws1205' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.test.ws/jbws1205/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.test.ws/jbws1205/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='TestException'>
    <sequence>
     <element name='message' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <element name='TestException' type='tns:TestException'/>
  </schema>
 </types>
 <message name='TestEndpoint_performTest'/>
 <message name='TestEndpoint_performTestResponse'/>
 <message name='TestException'>
  <part element='ns1:TestException' name='TestException'/>
 </message>
 <portType name='TestEndpoint'>
  <operation name='performTest'>
   <input message='tns:TestEndpoint_performTest'/>
   <output message='tns:TestEndpoint_performTestResponse'/>
   <fault message='tns:TestException' name='TestException'/>
  </operation>
 </portType>
 <binding name='TestEndpointBinding' type='tns:TestEndpoint'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='performTest'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.test.ws/jbws1205' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.test.ws/jbws1205' use='literal'/>
   </output>
   <fault name='TestException'>
    <soap:fault name='TestException' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='TestService'>
  <port binding='tns:TestEndpointBinding' name='TestEndpointPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>