modules/testsuite/native-tests/src/test/resources/common/jbossxb/ComplexTypesService_RPC_11.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="ComplexTypesService" targetNamespace="http://org.jboss.ws" xmlns:tns="http://org.jboss.ws" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://org.jboss.ws/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xs:import namespace="http://org.jboss.ws/types" schemaLocation="file:./ComplexTypesService_RPC.xsd"/>
  </types>
  <message name="ComplexTypes_echoBase">
    <part name="Base_1" type="ns2:Base"/>
  </message>
  <message name="ComplexTypes_echoBaseResponse">
    <part name="result" type="ns2:Base"/>
  </message>
  <message name="ComplexTypes_echoCompositeType">
    <part name="CompositeType_1" type="ns2:CompositeType"/>
  </message>
  <message name="ComplexTypes_echoCompositeTypeResponse">
    <part name="result" type="ns2:CompositeType"/>
  </message>
  <message name="ComplexTypes_echoDerived">
    <part name="Derived_1" type="ns2:Derived"/>
  </message>
  <message name="ComplexTypes_echoDerivedResponse">
    <part name="result" type="ns2:Derived"/>
  </message>
  <portType name="ComplexTypes">
    <operation name="echoBase" parameterOrder="Base_1">
      <input message="tns:ComplexTypes_echoBase"/>
      <output message="tns:ComplexTypes_echoBaseResponse"/>
    </operation>
    <operation name="echoCompositeType" parameterOrder="CompositeType_1">
      <input message="tns:ComplexTypes_echoCompositeType"/>
      <output message="tns:ComplexTypes_echoCompositeTypeResponse"/>
    </operation>
    <operation name="echoDerived" parameterOrder="Derived_1">
      <input message="tns:ComplexTypes_echoDerived"/>
      <output message="tns:ComplexTypes_echoDerivedResponse"/>
    </operation>
  </portType>
  <binding name="ComplexTypesBinding" type="tns:ComplexTypes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="echoBase">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws"/>
      </output>
    </operation>
    <operation name="echoCompositeType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws"/>
      </output>
    </operation>
    <operation name="echoDerived">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws"/>
      </output>
    </operation>
  </binding>
  <service name="ComplexTypesService">
    <port name="ComplexTypesPort" binding="tns:ComplexTypesBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
